#page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Create Posts */
#create-post-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50px;
  color: #545454;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
  outline: none;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
}

/* Map */
#map-placeholder {
  background: #e4fff9;
  height: 500px;
  margin-left: 0;
  margin-right: auto;
  min-width: 100px;
  width: 45%;
}

/* Post Feed */
#all-posts {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 0;
  width: 45%;
}
.post-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px lightgrey, 0px -1px 10px lightgrey;
  margin-bottom: 5px;
  margin-top: 20px;
  min-height: 100px;
  min-width: 100px;
}
