/*
 * Containers
 */

#col-container {
  width: 80%;
  margin: 0 10% 50px 10%;
}

#page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#map-container {
  flex: 1 1 400px;
  padding: 0 15px 0 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

/*
 * Map (will disappear when screen is too small)
 */

#map {
  background: var(--grey);
  height: 100%;
  min-width: 100px;
  width: 100%;
}

#title {
  padding: 0 0 0 15px;
}

/*
 * Mate
 */

#podmates {
  padding: 15px;
  background-color: #a98585;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1 1 400px;
}

@media screen and (max-width: 1077px) {
  #podmates {
    height: auto;
    margin: 0 16px 0 16px;
    padding: 0 0 16px 0;
  }

  #col-container {
    margin: 5vh 5%;
  }
}

.mate {
  background: #fff;
  border-radius: 15px;
  padding: 16px;
  margin: 16px;
}

img {
  width: auto;
  max-height: 50px;
  border-radius: 50%;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0.33em;
}

a {
  text-decoration: none;
}
