.mate {
  background: white;
  border-radius: 15px;
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 1rem 1rem 0rem 1rem;
}

#podmates {
  background-color: #A98585;
  flex: 1 1 400px;
  height: 64vh;
  padding: 15px 15px 0 15px;
}

img {
  width: auto;
  max-height: 50px;
  border-radius: 50%;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0.33em;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

#googleplex-map {
  flex: 1 1 400px;
  height: 65vh;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

#all-posts {
  padding: 0px 15px 0 15px;
  background-color: #a98585;
}

#map-container { 
  padding: 0 15px 0 15px;
}

@media screen and (max-width: 1077px) {
  #all-posts {
    height: auto;
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 1rem;
  }
}