#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh 5%;
}

/*
 * Title + subtitle
 */

#title-slogan {
  color: var(--dark-green);
  font-size: 4rem;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  margin: 2rem 0;
}

#slogan {
  flex: 0 1 30rem;
  margin: 3rem 3rem 0 3rem;
}

#slogan-container {
  display: flex;
  flex-wrap: no-wrap;
}

#slogan-emoji-container {
  display: flex;
  flex-wrap: wrap;
}

/*
 * Colleges dropdown
 */

#colleges-select {
  margin: 0;
}

select:invalid {
  color: gray;
}

.selectdiv {
  position: relative;
}

select::-ms-expand {
  display: none;
}

.selectdiv::after {
  color: #565656;
  content: 'v';
  font: 20px "Consolas", monospace;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 12px;
}

.selectdiv select {
  appearance: none;
  border: 2px solid #d8d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #333;
  font-size: 16px;
  height: 3rem;
  margin: 5px 0;
  padding: 0 24px;
}

.selectdiv select:focus {
  border: 2px solid #ababab;
  outline: none;
}

/*
 * Map preview
 */

#map-preview {
  background-color: white;
  border: #9d5a5a solid 1px;
  border-radius: 4px;
  flex: 0 1 30rem;
  margin: 3rem;
  padding: 2rem;
  width: 100%;
}

#map-preview-img {
  width: 100%;
}

#map-circles {
  margin: 0 0 1rem 0;
}

/*
 * Food emojis
 */

#emoji-container {
  height: 10rem;
  text-align: center;
  width: 10rem;
}

.emoji {
  height: 6rem;
  position: relative;
}

#boba-emoji {
  right: 4rem;
}

#burger-emoji {
  bottom: 3rem;
  left: 3rem;
}

#pizza-emoji {
  bottom: 4rem;
  right: 2.5rem;
}

@media screen and (max-width: 678px) {
  #main-container {
    margin: 5vh 5%;
  }

  #title-slogan {
    font-size: 3rem;
  }

  #slogan {
    margin: 1.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin: 2rem 0;
  }

  #map-preview {
    margin: 1.5rem;
    padding: 1rem;
  }

  .selectdiv::after {
    font-size: 15px;
    top: 15px;
  }

  .selectdiv select {
    font-size: 14px;
  }

  .emoji {
    height: 4rem;
  }

  #boba-emoji {
    right: 0;
  }

  #burger-emoji {
    bottom: 1rem;
    left: 2rem;
  }

  #pizza-emoji {
    bottom: 2rem;
    right: 0;
  }
}

@media screen and (max-width: 400px) {
  .selectdiv select {
    font-size: 12px;
  }

  #title-slogan {
    font-size: 2.5rem;
    width: 12rem;
  }

  #emoji-container {
    height: 7rem;
    width: 5rem;
  }

  .emoji {
    height: 3rem;
  }
}
