:root {
  --auburn: #ce853f;
  --dark-green: #667d51;
  --dark-maroon: #955757;
  --grey: #e5e3df;
  --light-teal: #abcbbc;
  --light-green: #b9c9a7;
  --light-maroon: #a98585;
  --off-white: #f2f0f0;
  --peach: #f2ddc9;
  --tan: #e4c492;
  --dark-grey: #303030;
}

html,
body {
  background-color: var(--off-white);
  color: #000;
  font-family:
    'Roboto',
    sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

/*
 * Loading spinner
 */

.spinner {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border: 4px var(--off-white) solid;
  border-top: 4px var(--dark-green) solid;
  border-radius: 50%;
  animation: sp-anime 1s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Nav bar across all pages
 */

header {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-around;
  width: 100%;
}

.logo {
  font-size: larger;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  z-index: 9999;
}

.navlink {
  list-style: none;
}

.logo a,
.navlink a {
  color: #000;
  border-radius: 5px;
  padding: 0.7rem 0.8rem;
  text-decoration: none;
}

.logo a:focus,
.logo a:hover,
.navlink a:focus,
.navlink a:hover {
  color: black;
  background-color: #dfdfdf;
  outline: none;
}

.burger {
  display: none;
  font-size: 1.2em;
}

@media screen and (max-width: 678px) {
  .burger {
    display: block;
  }

  .nav {
    background: #a98585;
    display: none;
    flex-direction: column;
    height: calc(100% - 70px);
    justify-content: space-around;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 70px;
    transition: all 400ms;
    width: 50%;
  }

  .navlink {
    text-align: center;
  }

  .navlink a {
    color: #fff;
  }

  .nav-active {
    display: inherit;
    right: 0;
  }
}

/*
 * Window Frame
 */

.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  margin-right: 0.3rem;
  width: 1rem;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.browser {
  background: var(--light-green);
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  color: #fff;
  filter: drop-shadow(0 4px 4px #00000040);
  margin: 6%;
  min-width: 70%;
  padding: 1rem;
}

.top {
  padding: 1rem;
}

.content {
  padding: 12%;
  padding-top: 2%;
  text-align: center;
}

/*
 * Form
 */

.subscription {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.subscription .option {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.subscribe,
.unsubcribe {
  margin: 1rem;
  padding: 1rem;
}

input[type=text],
input[type=email],
select {
  background: rgba(27, 24, 24, 0.1);
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  padding: 12px 20px;
  margin: 1rem 0;
  width: 100%;
}

input[type=radio] {
  background: rgba(242, 221, 201, 0.5);
  border-radius: 20px;
  height: 30px;
  width: 50px;
}

.input-name {
  display: block;
  margin-left: 0.4rem;
  text-align: left;
}

input[type=submit] {
  background-color: var(--light-maroon);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
  padding: 14px 20px;
  width: 30%;
}

input[type=submit]:hover {
  background-color: var(--dark-maroon);
  border: none;
}
